header {
  font-family: 'Audiowide', cursive;
  display: grid;
  /*naturalmente si adatta se la pagina diventa */
  background-color: #D66058;
  /*colore testata*/
}

header h1 {
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: 'Audiowide', cursive;
  font-size: 22px;
  display: flex;
  justify-content: center;
  color: #A54141;
}

h3 {
  font-family: 'Audiowide', cursive;
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #A54141;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  color: #A54141;
}

.separatore {
  border: solid #A51414 3px;
  margin: 0%;
}

.linkesterni {
  color: blue;
}

.linkesterni:hover {
  color: purple;
}

nav {
  display: flex;
  justify-content: center;
  border-top: solid #A54141 6px;
  /*funge come il padding*/
  background-color: #BF4444
    /*colore di tutta la navigation bar che sta dentro l'header*/
}

.dropbtn {
  font-family: 'Audiowide', cursive;
  background-color: #BF4444;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 20px;
  background-color: #BF4444;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  /*quando il cursore passa nelle scritte...*/
  text-decoration: underline;
}

.dropdown-content a:hover {
  background-color: #a54141;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #A54141;
}

a {
  /*tocca solamente i link dentro header*/
  color: white;
  text-decoration: none;
}

header p {
  /*tocca solamente i paragrafi dentro header*/
  justify-content: center;
  font-size: 18px;
  margin-top: 5px;
  /*color:white;*/
}

body {
  margin: 0;
  background-color: #E1D9C6
}

body main h4 a {
  /*si riferisce all'ultimo elemento dentro tutti quegli altri*/
  display: flex;
  justify-content: center;
  font-size: 23px;
  color: #000000;
  text-decoration: none;
}

body main h4 {
  /*si riferisce all'ultimo elemento dentro tutti quegli altri*/
  margin: 20px;
}

body main h4 a:hover {
  color: #D66058;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  display: flex;
}

li {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  list-style-type: disclosure-closed;
}

li::marker {
  /*per colorare i punti di una lista  si esatto si chiamano marker*/
  color: #A51414;
}

img {
  /*influisce su TUTTE LE IMMAGINI ESISTENTI*/
  /*removibile se si assegna una classe ad ogni immagine*/
  max-width: 100%;
}

main {
  /*IL CONTENUTO PRINCIPALE DELLA PAGINA prende da sotto la nav fino a prima del footer*/
  margin: auto;
  width: 40%;
}

.disposizionesocial {
  display: contents;
  font-family: 'Audiowide', cursive;
}

.minisocial {
  /*comportamenti SVG dei social nella sezione CONTATTACI*/
  padding-left: 4%;
  padding-top: 8%;
  max-width: 11%;
}

.imgappartamenti {
  max-width: 45%;
  /*TEMPORANEO è stato messo perchè altrimenti occupavano troppo il margine di sinistra e violavano lo spazio fuori dal main*/
  padding: 2%;
}

.titolocategorie {
  margin: 0%;
  color: #ffffff;
  padding-left: 1%;
  background-color: #A54141;
}

.descrizione {
  color: #ffffff;
  margin: 0%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #b74949;
}

.minidiv {
  display: flex;
  margin-bottom: 4%;
}

.imgcategorie {
  max-width: 40%;
}

.minicategorie {
  margin: 0%;
  padding-right: 1%;
  background-color: #b74949;
  /*sfondo rosso dietro immagini e testi appartenente a tale classe*/
}

.centronomi {
  margin: auto;
}

footer {
  display: grid;
  margin-top: 10%;
  /*temporaneo da rimuovere quando c'è più contenuto che farà scendere il footer automaticamente*/
  background-color: #434343;
}

footer p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
  margin-left: 4%;
}

footer a {
  display: flex;
  justify-content: right;
  margin-right: 6%;
  text-decoration: none;
}

.marginif {
  margin-bottom: 0%;
}

@media screen and (max-width: 814px) {
  header {
    font-family: 'Audiowide', cursive;
    display: grid;
    background-color: #da6900b6;
  }

  header p {
    /*tocca solamente i paragrafi dentro header*/
    font-size: 2vw;
  }

  header h1 {
    font-size: 4.2vw;
    margin-bottom: 0;
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }

  h2 {
    font-family: 'Audiowide', cursive;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    color: #a85a10b6;
  }

  h3 {
    font-family: 'Audiowide', cursive;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    color: #a85a10b6;
  }

  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
    color: #a85a10b6;
  }

  nav {
    display: flex;
    justify-content: center;
    border-top: solid #a85a10b6 6px;
    /*funge come il padding*/
    background-color: #e09248b6;
    /*colore di tutta la navigation bar che sta dentro l'header*/
  }

  .dropbtn {
    background-color: #e09248b6;
    font-size: 2vw;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    font-size: 2vw;
    background-color: #b7691e;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a:hover {
    background-color: #a85a10b6;
  }

  .dropdown:hover .dropbtn {
    background-color: #b7691e;
  }

  p {
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    display: flex;
  }

  li {
    font-size: 2vw;
  }

  .separatore {
    border: solid #a85a10b6 3px;
  }

  footer p {
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    color: white;
    margin-left: 4%;
  }
}